* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,1);
    background: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(25,25,25,1) 100%);
    color: #ccc;
}

a, button {
    transition: all 0.25s ease-in;
    cursor: pointer;
    border: none;
}

// HEADER & SECTION
header, section {
    float:left;
    width: 100%;
}

// HEADER
header {
    height: 80px;
    line-height: 80px;
    .logo {
        width: auto;
        height: 40px;
        line-height: 40px;
        margin: 20px;
    }
}

// SECTION
section {
    display: flex;

    div {
        margin: 0 auto;
        clear: both;
        width: 640px;
        padding: 15px;
            
        &#edit {
            background-color: yellow;
            canvas {
                float: left;
                width: 100%;
                height: 100%;
                max-width: 640px;
                max-height: 640px;
                background-color: red;
            }
        }

        &#caption {
            label {
                float: left;
                width: 100%;
                font-size: 12px;
                line-height: 30px;
            }
            input {
                margin: 0 auto;
                line-height: 45px;
                padding: 0 15px;
                border: none;
            }
            button {
                margin: 0 auto;
                line-height: 45px;
                padding: 0 15px;
                border: none;
            }
        }

        &#process {
            button {
                margin: 0 auto;
                line-height: 45px;
                padding: 0 15px;
                border: none;
                &#download {
                    margin: 5px;
                    background-color: teal;
                    color: #fff;
                }
                &#reset {
                    float: left;
                    width: 100%;
                    font-size: 12px;
                    background: none;
                    color: red;
                }
            }
        }
    }

}